@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-aubergine: #2E0B2E;
}

@layer utilities {
  .card-gradient-lime {
    background: linear-gradient(to right, #f7fee7, #ecfdf5);
    border-color: rgba(190, 242, 100, 0.6);
  }

  /* Standart (Blue) */
  .card-gradient-blue {
    background: linear-gradient(to right, #f0f9ff, #e0f2fe);
    border-color: rgba(125, 211, 252, 0.6);
  }

  /* Keşfet (Green) */
  .card-gradient-green {
    background: linear-gradient(to right, #ecfdf5, #f0fdf4);
    border-color: rgba(110, 231, 183, 0.6);
  }

  /* Sık Hata Yapılanlar (Red) */
  .card-gradient-red {
    background: linear-gradient(to right, #fff1f2, #fff5f5);
    border-color: rgba(252, 165, 165, 0.6);
  }

  /* Pekiştir (Orange) */
  .card-gradient-orange {
    background: linear-gradient(to right, #fffbeb, #fff7ed);
    border-color: rgba(253, 230, 138, 0.6);
  }

  .card-gradient-lime-solid {
    background: linear-gradient(to right, #d9f99d, #a3e635);
    border-color: rgba(132, 204, 22, 0.8);
  }

  .card-gradient-blue-solid {
    background: linear-gradient(to right, #bae6fd, #38bdf8);
    border-color: rgba(14, 165, 233, 0.8);
  }

  .card-gradient-green-solid {
    background: linear-gradient(to right, #a7f3d0, #34d399);
    border-color: rgba(16, 185, 129, 0.8);
  }

  .card-gradient-red-solid {
    background: linear-gradient(to right, #fecdd3, #fb7185);
    border-color: rgba(244, 63, 94, 0.8);
  }

  .card-gradient-orange-solid {
    background: linear-gradient(to right, #fde68a, #fbbf24);
    border-color: rgba(245, 158, 11, 0.8);
  }
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}